@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
   /* Grays */
   --clr-gray-100: #fcfdfe;
   --clr-gray-200: #e2eaf1;
   --clr-gray-300: #cad6e3;
   --clr-gray-400: #b4c2d2;
   --clr-gray-500: #a0aec0;
   --clr-gray-600: #7d8898;
   --clr-gray-700: #5b6270;
   --clr-gray-800: #393d47;
   --clr-gray-900: #17191e;
   /* Neutrals */
   --clr-white: white;
   --clr-black: black;
   --clr-bg: #eef7ff;

   /* Spacing */
   --space-0: 0;
   --space-1: 0.25em;
   --space-2: 0.5em;
   --space-3: 0.75em;
   --space-4: 1em;
   --space-5: 1.25em;
   --space-6: 1.5em;
   --space-8: 2em;
   --space-10: 2.5em;
   --space-12: 3em;
   --space-16: 4em;
   --space-20: 5em;
   --space-24: 6em;

   /* Font sizes */
   --text-sm: 0.875rem;
   --text-md: 1rem;
   --text-lg: 1.25rem;
   --text-xl: 1.5rem;

   /* Font weight */
   --fw-r: 400;
   --fw-md: 500;

   /* Border radius */
   --radius: 8px;

   /* Shadows */
   --shadow-2: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
   --shadow-focus: 0 0 0 2px rgba(66, 153, 225, 0.3);
}

/* *,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} */

#exam-title{
    padding-right: 100px;
}

.wrapper {
   margin-left: 300px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.form {
   max-width: 825px;
   width: 100%;
   margin: 0 auto;
   background-color: #fff;
   border-radius: var(--radius);
   box-shadow: var(--shadow-2);
   padding: var(--space-10) var(--space-10) 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
   position: relative;
}

label {
   display: block;
   font-size: var(--text-sm);
   font-weight: var(--fw-md);
   margin-bottom: var(--space-1);
}

.form-control {
   display: flex;
   flex-direction: column;
}

input {
   appearance: none;
   outline: none;
   border: none;
   box-shadow: none;
   padding: 0.6em;
   border: 1px solid var(--clr-gray-400);
   border-radius: 6px;
}

input:active,
input:focus {
   box-shadow: var(--shadow-focus);
}

select {
   appearance: none;
   outline: none;
   background-color: transparent;
}

.select {
   font-size: var(--text-sm);
   color: var(--clr-gray-600);
   padding: 0.8em;
   border: 1px solid var(--clr-gray-400);
   border-radius: 6px;
   background-image: url("data:image/svg+xml,%3Csvg class='icon-arrow' width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 3.5L6 0.5L9.5 3.5' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round' /%3E%3Cpath d='M9.5 8.5L6 11.5L2.5 8.5' stroke='%23111111' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
   background-repeat: no-repeat;
   background-position: right 0.7em top 50%, 0 0;
   background-color: #fff;
}
.form__footer {
   padding: var(--space-6) 0;
   grid-column: 2;
   justify-self: end;
}

#btn {
   display: inline-block;
   appearance: none;
   outline: none;
   border: none;
   background: none;
   font-family: inherit;
   cursor: pointer;
   border-radius: 6px;
   background-color: #5950eb;
   color: white;
   padding: 0.5em 1em;
}

@media (max-width: 700px) {
   .form {
      max-width: 90%;
      display: flex;
      flex-direction: column;
      position: relative;
   }

   .form__footer {
      display: flex;
      justify-content: flex-end;
   }
}
