.exam{
    width: 1000px;
    height: 1000px;
    min-height: 500px;
    background-color: aquamarine;
    position: relative;
    padding-top: 300px;
    margin: auto;
}
.exam-question {
    width: 50%;
    margin: 20px auto 20px auto;
    background-color: #ccc;
}